# 忽略所有文件和目录
*
**/*/
**/**

# 只同步以下指定文件
!update.json
!version.txt
!filter.txt
# 不要忽略.gitignore自身
!.gitignore

# 其他常见的Python项目忽略项
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
.env
.venv
venv/
ENV/